// _base.scss
$font-stack: Helvetica, sans-serif;
$primary-color: #FF0000;
$column-height: 400px;
$column-width: 100%;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

.text-center{
    height: $column-height;
    width: $column-width;
}
