/* line 11, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
body {
  font: 100% Helvetica, sans-serif;
  background-color: inherit;
}

/* line 16, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.text-center {
  height: 400px;
  width: 100%;
}

/* line 25, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-items {
  padding-top: 2em;
}

/* line 29, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-item {
  margin: 0 auto;
}

/* line 33, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.landing-intro-text {
  float: left;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

/* line 40, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.landing-intro-text h1 {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 0;
}

/* line 46, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.shopping-cart-btn {
  border-radius: 60px;
  border: none;
  text-align: center;
}

/* line 52, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.shopping-cart-btn:active {
  border: none;
}

/* line 56, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.shopping-cart-btn i {
  font-size: 2em;
  color: #FFFFFF;
}

/* line 61, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.cart-quantity {
  width: 2em;
  font-weight: lighter;
  color: #ffffff;
  border-radius: 60px;
}

/* line 68, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.logged-in-btn {
  text-align: center;
}

/* line 72, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.logged-in-btn i {
  font-size: 2em;
  color: #FFFFFF;
}

/* line 77, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.logged-in-btn p {
  font-size: .7em;
  text-align: center;
}

/* line 82, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-header {
  background-image: url("/res/images/people-2943109.jpg");
  background-size: cover;
  height: 15em;
}

/* line 88, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
#login-form {
  margin-top: 20em;
}

/* line 92, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-categories {
  padding: 3em;
  margin-top: 0;
}

/* line 97, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-content {
  margin-bottom: 5em;
}

/* line 101, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-category {
  margin: 0 auto;
  border: none;
  text-align: center;
}

/* line 107, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-section-header {
  height: auto;
  text-decoration: underline;
}

/* line 112, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-category img {
  width: 5em;
  height: 5em;
  border-radius: 20em;
  margin: 0 auto;
}

/* line 119, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-items {
  margin-bottom: 2em;
}

/* line 123, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-item-rating {
  list-style-type: none;
  margin-bottom: .8em;
  padding-left: 0;
}

/* line 129, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-item-rating li {
  display: inline-block;
}

/* line 133, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.store-brand-logo {
  width: 2em;
  height: 1em;
  border: none;
}

/* line 139, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.about-header {
  background-image: url("/res/images/guitar-2816248.jpg");
  margin-bottom: 2em;
  background-size: cover;
}

/* line 145, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.landing-categories i {
  font-size: 2em;
}

/* line 154, ../../../Users/User/Documents/GitHub/Y2_WebDesignDev_Project/sass/styles.scss */
.page-content {
  margin-bottom: 2em;
}

/*# sourceMappingURL=styles.css.map */